{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block content %}
<h1>Create a user:</h1>
<form action="/users/new" method="POST" class="row g-3">
    <div class="col-12">
        <label for="first-name" class="col-sm-4 col-form-label">First Name:</label>
        <input type="text" class="form-control" id="first-name" name="first-name" required>
    </div>    
    <div class="col-12">
        <label for="last-name" class="col-sm-4 col-form-label">Last Name:</label>
        <input type="text" class="form-control" id="last-name" name="last-name" required>
    </div>    
    <div class="col-12">
        <label for="img-url" class="col-sm-4 col-form-label">Image URL:</label required>
        <input type="text" class="form-control" id="img-url" name="img-url">
    </div>    
    <div class="col-6">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>



{% endblock %}